@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #cec9c9;
   
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #494848;
}